{% extends "blog_sab_app/index.html" %}
{% load static %}
{% block blog_sab_app_content %}

<h2>Lista de Viajes</h2>
<a class="card_custom" href="{% url 'blog_sab_app:viaje-add' %}">Crear nuevo Viaje</a>
<hr></hr>
<ul>
    {% for viaje in viaje_list %}
    <li>
        {{viaje}}
        (
        <a href="{% url 'blog_sab_app:viaje-detail' viaje.id %}">
            <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
        </a>
        |
        <a href="{% url 'blog_sab_app:viaje-update' viaje.id %}">
            <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
        </a>
        |
        <a href="{% url 'blog_sab_app:viaje-delete' viaje.id %}">
            <i class="fa fa-trash" style="color: rgb(0, 0, 100);"> </i>
        </a>
        )
    </li>
    {% endfor %}
</ul>

{% endblock %}